<div class="text-light text-center fixed-bottom pb-3 fs-6">
  Challenge by <a href="https://www.frontendmentor.io?ref=challenge" class="text-decoration-underline text-info" target="_blank" rel="noopener noreferrer">Frontend Mentor</a>. 
  Coded by <a href="https://kodes.live" target="_blank" class="text-decoration-underline text-info" rel="noopener noreferrer">Kodes</a>.
</div>